.worksBox {
    padding: 2rem 7% 4rem 7%;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    width: 100%;
    gap: 2rem;
}

@media screen and (min-width:960px) {
    .worksBox {
        padding: 5rem 7% 5rem 7%;
        grid-template-columns: 1fr 1fr;
        gap: 2rem 5rem;
    }   
}